<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/a738fb17fd.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <div class="flex registration">
      <% if user_signed_in? %>
      <p class="login">Logged in as <%= current_user.try(:name) %></p>
      <% end %>
      <% unless user_signed_in? %>
      <button class="sign-out in">
        <%= link_to "Log in", new_user_session_path, class: "links" %>
      </button>
      <% end %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "sign-out" %>
   </div>
    <%= yield %>
  </body>
</html>
